node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

HomomorphicEncryption/companySecretKey.json
HomomorphicEncryption/companySetupData.json
HomomorphicEncryption/proverData.json
.gitignore
ZKP/proof.json
HomomorphicEncryption/studentData.json
ZKP/verificationKey.json
ZKP/proof.json
evaluation/cpu_usage_comparison.png
target
evaluation/ZKP_performance_data.csv
Cargo.lock
tfhe_comparison.node
evaluation/HE_performance_data.csv
